* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
}
label {
    margin: 0 5px;
    padding: 4px 7px 8px 5px;
    background-color: pink;
    border-radius: 5px;
}
[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.generrator {
    display: block;
    width: 100%;
    height: 100vh;
}
.btn {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#output {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    height: 100vh;
}
.layout {
    display: grid;
    grid-template-columns: auto 100px auto;
    gap: 10px;
}
.options {
    dl {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    dt {
        padding-bottom: 10px;
    }
    button,
    input[type="text"] {
        height: 30px;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 4px;
    }
}
.inline-form-group{
    display: inline-block;
    border: 1px solid #ccc;
    display: inline-flex;
    border-radius: 3px;
    padding: 2px;
    gap: 4px;
    label{
        margin: 0;
        padding: 3px 7px ;
    }
}